In [119]:
import pandas as pd
import os

In [120]:
# First of all, get the path of data
PATH_IN = "./data/"
file = os.path.join(PATH_IN, "interactive_data.csv")
df = pd.read_csv(file, index_col=0)
# df head to check the data
df.head(7)

,Intent,Gender,Age,Race,Deaths,Population,Rate
1,None selected,None selected,None selected,None selected,33599,316299978,10.6
2,None selected,None selected,None selected,White,22079,197369634,11.2
3,None selected,None selected,None selected,Black,7765,38896382,20.0
4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7
6,None selected,None selected,None selected,Other,306,9669323,3.2
7,None selected,None selected,Under 15,None selected,427,61085868,0.7

In [121]:
# filtered none selected bc no info so they can be anything,  axis = 1 to iterate filter on lines (0 column)
df_filtered = df.loc[~(df == "None selected").any(axis=1)]
df_filtered.head(7)

,Intent,Gender,Age,Race,Deaths,Population,Rate
152,Suicide,Female,Under 15,White,19,15355910,0.1
153,Suicide,Female,Under 15,Black,1,4095428,0.0
154,Suicide,Female,Under 15,Hispanic,4,7330024,0.1
155,Suicide,Female,Under 15,Asian/Pacific Islander,1,1393440,0.1
156,Suicide,Female,Under 15,Other,0,1661877,0.0
158,Suicide,Female,15 - 34,White,539,23942099,2.3
159,Suicide,Female,15 - 34,Black,44,6023846,0.7

In [122]:
total_deaths = df_filtered["Deaths"].sum()

deaths_by_suicide = df_filtered[df_filtered["Intent"] == "Suicide"]["Deaths"].sum()
print(deaths_by_suicide / total_deaths * 100, "% of gun deaths are suicides")

male_deaths_by_suicide = df_filtered[
    (df_filtered["Intent"] == "Suicide") & (df_filtered["Gender"] == "Male")
]["Deaths"].sum()
print(
    male_deaths_by_suicide / deaths_by_suicide * 100, "% of male deaths in gun suicides"
)

homicide_deaths = df_filtered[df_filtered["Intent"] == "Homicide"]["Deaths"].sum()
print(homicide_deaths / total_deaths * 100, "% of homicide of gun deaths")

homicide_male_15_34_deaths = df_filtered[
    (df_filtered["Gender"] == "Male")
    & (df_filtered["Age"] == "15 - 34")
    & (df_filtered["Intent"] == "Homicide")
]["Deaths"].sum()
homicide_male_15_34_deaths_black = df_filtered[
    (df_filtered["Gender"] == "Male")
    & (df_filtered["Age"] == "15 - 34")
    & (df_filtered["Race"] == "Black")
    & (df_filtered["Intent"] == "Homicide")
]["Deaths"].sum()
print(
    homicide_male_15_34_deaths_black / homicide_male_15_34_deaths * 100,
    "%  are black in male 15 - 34 homicide deaths",
)

women_homicide_deaths = df_filtered[
    (df_filtered["Gender"] == "Female") & (df_filtered["Intent"] == "Homicide")
]["Deaths"].sum()
print(
    women_homicide_deaths / homicide_deaths * 100, "% of women in all homicide deaths"
)

62.68194671826165 % of gun deaths are suicides
86.24275809668535 % of male deaths in gun suicides
34.906980205387704 % of homicide of gun deaths
66.12482748044778 %  are black in male 15 - 34 homicide deaths
15.289502856655583 % of women in all homicide deaths